@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Instagram Sans";
  src: url("../public/fonts/InstagramSans-Regular.ttf");
}

@font-face {
  font-family: "Instagram Sans Medium";
  src: url("../public/fonts/InstagramSans-Medium.ttf");
}

@font-face {
  font-family: "Instagram Sans Light";
  src: url("../public/fonts/InstagramSans-Light.ttf");
}

.insta {
  font-family: "Instagram Sans";
}

.insta-medium {
  font-family: "Instagram Sans Medium";
}

.insta-light {
  font-family: "Instagram Sans Light";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
